@model IEnumerable<ContactModel>
@{
    ViewData["title"] = "Contact Listed";
}
<h3>List Contact</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Map</th>
            <th scope="col">Phone</th>
            <th scope="col">Image</th>
            <th scope="col">Email</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@Html.Raw(@item.Map)</td>
                <td>@item.Phone</td>
                <td><img src="~/media/logo/@item.Image" width="150" height="auto" /></td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Contact" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>