@model ContactModel

<div class="row">
	<div class="col-sm-2">
		<div class="companyinfo" style="padding-top:15px">
			<p style="text-align:center"><img src="~/media/logo/@Model.Image" width="100px" height="100px" /></p>
			<h5 style="text-align:center">@Html.Raw(@Model.Description)</h5>
		</div>
	</div>
	<div class="col-sm-8" style="text-align:center">
		@Html.Raw(@Model.Map)
	</div>
	<div class="col-sm-2">
		<div class="address" style="display: flex; flex-direction:column; text-align: left; padding-top:50px">
			<h5>Name: @Model.Name</h5>
			<h5>Email: @Model.Email</h5>
			<h5>Phone: @Model.Phone</h5>
		</div>
	</div>
</div>